{% extends 'website/base_template.html' %}

{% load static %}


{% block styleblock %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}



{% block content %}

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Orthopaedic Specialist Clinic at the Sinel Hospital</h1>
                <div class="textt-lg">
                    <p>Our team of Orthopaedic provides pain management services for patients scheduled for surgeries
                        and other procedures on the ward. Such patients are usually referred by the surgeons or other
                        specialists.</p>

                    <h4>Clinic Shcedule</h4>

                    <table id="schedule">
                        <tr>
                            <th>Day</th>
                            <th>Time(all times GMT)</th>
                            <th>Doctor</th>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>10:30AM - 12PM</td>
                            <td>Dr. Solomon Doe</td>
                        </tr>
                    </table>

                    <h3 class="text-size"> Frequently Asked Questions</h3>
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis vitae voluptatem at
                            earum dolor enim aliquid repellat ex officia repellendus vel id, magni quos rem voluptas
                            velit similique, magnam optio?</p>


                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod nihil.</li>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sed fuga vero itaque
                            labore laborum debitis! Optio cum odio eos magnam eligendi ducimus sit, numquam, mollitia
                            quaerat ex in explicabo.</p>
                    </ol>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}