{% extends 'website/base_template.html' %}
{% load static %}

{% block doctors_active %}active{% endblock %}

{% block content %}

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Our Doctors</h1>
                <div class="text-lg">
                    <p class="text text-center">
                        The Sinel team is made up of committed health experts with a range of knowledge and experience
                        who have come together to provide you with excellent care. We hold ourselves to high standards
                        of professionalism, excellent care, accountability, exceptional customer service, innovation,
                        and diligence.
                        At Sinel, we foster an environment conducive to team growth by emphasising transparency, trust,
                        ownership, and ingenuity.
                        Every employee at Sinel recognises the value of high-quality healthcare. As a result, we are
                        well-positioned to provide the most excellent possible experience for our clients, one that is
                        centred on professional, customised care.
                        We perform better as a result of our stronger bond.
                    </p>
                </div>
            </div>
            <div class="col-lg-10 mt-5">
                <div class="row justify-content-center">
                    {% for member in doctors %}
                    <div class="col-12 wow zoomIn">
                        <div class="card">
                            <div class="card-body row">
                                <div class="col-3">
                                    <img src="{{member.photo.url}}" alt="{{member.fullname}}" height="150">
                                </div>
                                <div class="col-6">
                                    <h4>{{member.fullname}}</h4>
                                    <p><small>{{member.title}}</small></p>
                                    <p>{{member.bio}}</p>
                                    <a href="{{member.linkedin}}" target="_blank"><span class="bi bi-linkedin"></span> LinkedIn</a>
                                </div>
                                <div class="col-3 d-flex align-items-center" style="border-left: 1px solid gray;">
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-calendar"></i>
                                        </div>
                                        <div class="col-10">
                                            <a href="{% url 'communications:book_appointment' %}">Request an
                                                Appointment</a>
                                        </div>
                                        <div class="col-2">
                                            <i class="bi bi-telephone"></i>
                                        </div>
                                        <div class="col-10">
                                            <a href="tel:{{request.contact.telephone}}">Call</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}