{% extends 'website/base_template.html' %}
{% load static %}

{% block partners_active %}active{% endblock %}

{% block content %}

<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 wow fadeInUp">
        <h1 class="text-center mb-3">Our Partners</h1>
        <div class="text-lg">
          <p class="text text-center">
            Collaboration is crucial to achieving sustainable health. We collaborate with various partners to provide
            our clients with holistic wellbeing. This list will be updated regularly.
          </p>
        </div>
      </div>
      <div class="col-lg-10 mt-5">
        <div class="row justify-content-center">
          {% for partner in partners %}
          <div class="col-12 wow zoomIn">
            <div class="card">
              <div class="card-body row">
                <div class="col-3">
                  <img src="{{partner.logo.url}}" alt="{{partner.fullname}}" height="100">
                </div>
                <div class="col-4">
                  <h4>{{partner.name}}</h4>
                  <p><small>{{partner.category|title}}</small></p>
                  {% if partner.website %}
                  <a href="{{partner.website}}" target="_blank"><span class="bi bi-globe"></span> Website</a>
                  {% endif %}
                </div>
                <div class="col-5 d-flex align-items-center" style="border-left: 1px solid gray;">
                  <p>{{partner.description}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}