{% extends 'website/base_template.html' %}

{% load static %}

{% block services_active %}active{% endblock %}


{% block content %}

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Our Services</h1>
                <div class="text-lg">
                    <p>Welcome to Sinel Specialist Hospital. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Pariatur ipsam dolores omnis expedita distinctio excepturi nostrum eligendi tempora modi
                        laboriosam numquam, sit optio nam nobis mollitia molestiae repellat nihil! Cumque.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, odit! Atque iure praesentium
                        minima ipsa incidunt, voluptate animi molestiae, obcaecati qui voluptatem eveniet eligendi
                        aliquid iusto, totam provident corrupti vero.</p>
                </div>
            </div>
            <div class="col-lg-10 mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_1.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Radiology</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_2.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Dietary Therapy</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_3.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Dietetics</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_3.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Dermatology</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_3.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Urology</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_3.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Physiotherapy</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_3.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Orthopedic</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_3.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Maternity</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{% static 'img/doctors/doctor_3.jpg' %}" alt="">
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Gynecology</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}