{% extends 'website/base_template.html' %} 
{% load static %} 

{% block styleblock %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" />
{% endblock %} {% block content %}

<div class="row" style="height: 20em; background-color: #1fa9db;">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    
  </div>
  <h1>hello</h1>
</div>

<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 wow fadeInUp">
        <h1 class="text-center mb-3">{{service.title}}</h1>
        <div class="textt-lg">{{service.description|safe}}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
