{% extends 'website/base_template.html' %}
{% load static %}

{% block services_active %}active{% endblock %}

{% block content %}

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Our Services</h1>
                <div class="text-lg">
                    <p>
                        At Sinel Specialist Hospital, we offer a wide range of specialised care services to meet your
                        health
                        needs. Our crop of expert staff is dedicated to working with clients and their support systems
                        to
                        ensure the best health outcomes. We pride ourselves on providing quality healthcare services in
                        a
                        very timely and proactive manner no matter the nature.
                    </p>
                </div>
            </div>
            <div class="col-lg-10 mt-5">
                <div class="row justify-content-center">
                    {% for service in services %}
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <a href="{% url 'website:service_details' service.id %}" style="color:#05b4e1">
                                <img class="img img-fluid" src="{{service.image.url}}" alt="{{service.title}}">
                                <div class="body">
                                    <p class="text-xl mb-0">{{service.title}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}