{% extends 'website/base_template.html' %}
{% load static %}

{% block doctors_active %}active{% endblock %}

{% block content %}

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Our Team</h1>
            </div>
            <div class="col-lg-10 mt-5">
                {% for speciality in specialities %}
                <h3 class="col-12 mt-5 mb-3 text text-center">{{speciality}}</h3>
                <div class="d-horizontal-scroll">
                    <span class="control-btn previous"><i class="bi bi-chevron-left"></i></span>
                    {% for member in doctors %}
                    {% if member.title == speciality %}
                    <div class="col-12 col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="{{member.photo.url}}" alt="{{member.fullname}}">
                                {% if member.linkedin %}
                                <div class="meta">
                                    <a href="{{member.linkedin}}"><span class="bi bi-linkedin"></span></a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">{{member.fullname}}</p>
                                <span class="text-sm text-grey">{{member.title}}</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <span class="control-btn next"><i class="bi bi-chevron-right"></i></span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}