{% extends 'dashboard/base_template.html' %} {% block dashboard-page-active %}mm-active{% endblock %} {% block pagetitle
%}Dashboard{% endblock %} {% block content %}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-like icon-gradient bg-love-kiss"></i>
                </div>
                <div>Dashboard
                    <div class="page-title-subheading">Hi, welcome back</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Content</h5>
        </div>
    </div>
</div>
{% endblock %}