{% extends 'website/base_template.html' %}

{% load static %}
{% load humanize %}

{% block home_active %}active{% endblock %}

{% block content %}

<div id="request-appointment" class="page-section">
  <div class="container">
    <h1 class="text-center wow fadeInUp">Make an Appointment</h1>
    <h6 class="col-12 col-md-8 text text-justify mx-auto">
      If you are experiencing a medical emergency, come to our hospital immediately. For location details, Click <a
        href="{% url 'website:contact' %}">here</a>.
      <br>
      <br>

      The following form generates an appointment. A representative will contact you within 48hrs of submitting this
      form to assist you with your appointment request.”
    </h6>
    <form action="{% url 'communications:book_appointment' %}" class="main-form" method="post">
      {% csrf_token%}
      <div class="row mt-5">
        <span class="col-12 text text-danger">Required *</span>
        <div class="col-12 col-sm-6 py-2">
          <label for="fullname"><small>Fullname <span class="text text-danger">*</span></small></label>
          <input type="text" name="fullname" class="form-control" placeholder="Full name" required />
        </div>
        <div class="col-12 col-sm-6 py-2">
          <label for="fullname"><small>Email</small></label>
          <input type="text" name="email" class="form-control" placeholder="Email address.." />
        </div>
        <div class="col-12 col-sm-6 py-2" data-delay="300ms">
          <label for="date"><small>Preferred Appointment Date <span class="text text-danger">*</span></small></label>
          <input type="date" id="date" name="date" class="form-control" required />
        </div>
        <div class="col-12 col-sm-6 py-2 fadeInRight">
          <label for="time"><small>Preferred Appointment Time <span class="text text-danger">*</span></small></label>
          <input type="time" name="time" class="form-control" required />
        </div>
        <div class="col-12 col-sm-6 py-2" data-delay="300ms">
          <label for="date_of_birth">Date of Birth</label>
          <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" />
        </div>
        <div class="col-12 col-sm-6 py-2 fadeInRight" data-delay="300ms">
          <label for="service"><small>Desired Service <span class="text text-danger">*</span></small></label>
          <select name="service" id="service" class="custom-select" required>
            <option value="">---Select Service---</option>
            {% for service in services %}
            <option value="{{service.title}}">{{service.title}}</option>
            {% endfor %}
            <option value="other">Other</option>
          </select>
        </div>
        <div class="col-12 col-sm-12 py-2">
          <label for="number"><small>Phone <span class="text text-danger">*</span></small></label>
          <input type="text" name="number" class="form-control" placeholder="Phone" required />
        </div>
        <div class="col-12 py-2 fadeInUp" data-delay="300ms">
          <label for="message"><small>Message <span class="text text-danger">*</span></small></label>
          <textarea name="message" id="message" class="form-control" rows="6" placeholder="Enter message.."
            required></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3 zoomIn">Submit</button>
    </form>
  </div>
</div>

{% endblock %}